window {
    background-color: rgba(40, 40, 40, 0.8); /* Saydam arka plan */
    border-color: #504945;
    border-radius: 5px;
}

*{
    transition: all .5s ease-in-out;
}

mainbox {
    padding: 10px;
    spacing: 10px;
}

entry {
    background-color: rgba(29, 32, 33, 0.8);
    border-radius: 3px;
    padding: 5px;
    color: #ebdbb2;
}

entry:focus {
    background-color: rgba(60, 56, 54, 0.8);
}

listview {
    background-color: rgba(29, 32, 33, 0.8);
    border-radius: 3px;
    padding: 5px;
    color: #ebdbb2;
}

listview text {
    color: #ebdbb2;
}

listview text:selected {
    background-color: rgba(60, 56, 54, 0.8);
    color: #fabd2f;
}

button {
    background-color: rgba(40, 40, 40, 0.8);
    color: #ebdbb2;
    border-radius: 3px;
    padding: 5px;
}

button:focus {
    background-color: rgba(60, 56, 54, 0.8);
}
